<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заявки — Админка AmiClo</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div th:replace="layout :: layout">
    <div th:fragment="content">
        <h1>Список заявок</h1>

        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Сообщение</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r : ${requests}">
                <td th:text="${r.id}">1</td>
                <td th:text="${r.name}">Имя</td>
                <td th:text="${r.phone}">Телефон</td>
                <td th:text="${r.message}">Сообщение</td>
                <td th:text="${#temporals.format(r.createdAt, 'dd.MM.yyyy HH:mm')}">Дата</td>

            </tr>
            </tbody>
        </table>

        <td>
            <form th:action="@{/admin/requests/delete/{id}(id=${r.id})}" method="post" style="display:inline">
                <button type="submit">Удалить</button>
            </form>

            <form th:action="@{/admin/requests/edit/{id}(id=${r.id})}" method="post" style="display:inline">
                <button type="submit">Редактировать</button>
            </form>
        </td>

    </div>
</div>
</body>
</html>
